
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
  background: #ffffff;
  font-family: 'Courier Prime', monospace;
  min-height: 100vh; 
  margin: 0; 
  top: 0;
  padding: 0;
}
