@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    min-height: 100vh;
    margin: 0;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 600px;
}

.logoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
    border: 3px solid #ffffff;
    background-color: #1E1E1E;
    border-radius: 30px 0 0 30px;
}

.logo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.formSection {
    width: 450px;
    height: 506px;
    background-color: #ffffff;
    border-radius: 0 30px 30px 0;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

label {
    display: block;
    text-align: left;
    font-size: 20px;
    margin-left: 80px;
}

.labelRegistro {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-left: 80px;
}

.inputField {
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: 3px solid #1E1E1E;
    font-family: 'Courier Prime', monospace;
    padding-left: 15px;
    font-size: 16px;
}

.inputRegistro {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid #1E1E1E;
    font-family: 'Courier Prime', monospace;
    padding-left: 15px;
    font-size: 14px;
}

.inputField:focus, .inputRegistro:focus {
    border-color: #0044cc;
    box-shadow: 0 0 5px #0044cc;
    outline: none;
}


.loginButton {
    width: 130px;
    height: 50px;
    background-color: #1E1E1E;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
}

.loginButton:hover {
    border: 3px solid #1E1E1E;
    background-color: #ffffff;
    color: #1E1E1E;
    font-weight: 1000;
    box-shadow: 0 0 10px #1E1E1E
}

.registerLink a {
    font-weight: 400;
    color: #0044cc;
    text-decoration: underline
}


@media screen and (max-width: 1024px) {
    .loginContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column; /* Cambia de horizontal a vertical */
        width: 90%; /* Usa un ancho relativo para adaptarse */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .logoSection,
    .formSection {
        width: 100%; /* Cada sección ocupa el ancho completo */
        height: auto; /* Ajusta la altura */
        border-radius: 30px; /* Ajusta los bordes redondeados */
    }

    .logoSection {
        border-radius: 30px 30px 0 0; /* Borde redondeado superior */
    }

    .logo {
        margin-top: 20px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .formSection {
        border-radius: 0 0 30px 30px; /* Borde redondeado inferior */
        border: 3px solid #ffffff;
    }

    h2 {
        font-size: 28px; /* Reduce el tamaño del texto */
    }

    .inputField {
        width: 70%; /* Reduce el ancho del input */
    }

    .inputRegistro{
        width: 70%;
    }

    .loginButton {
        width: 130px; /* Ajusta el ancho del botón */
        height: 55px;
    }

    label {
        margin-left: 15%; /* Reduce la separación */
    }

    .labelRegistro {
        margin-left: 15%;
    }
}